@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input,
button,
textarea,
select {
  border: none;
}
ul {
  list-style: none;
}

a,
button {
  background-color: transparent;
  border: none;
  outline: none;
  display: inline-flex;
  text-decoration: none;
}
html {
  // background-color: $mint-crema;
  scroll-behavior: smooth;
}
.ru.active {
  left: 0;
  right: 0;
}
.ru {
  margin: 0 auto;
  position: absolute;
  left: -1000%;
}
.en.active {
  left: 0;
  right: 0;
}
.en {
  margin: 0 auto;
  position: absolute;
  left: -1000%;
}
